<div class="container-fluide">
  <div class="bg">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center heading-section" style="margin-left:-140px">
        <h3 style="margin-top: -50px">BOOK NOW</h3>
      </div>
    </div>
      <div class="row">
        <div class="col mx-auto">
          <div class="appointment-w3" style="margin-left: 478px">
            <form action="#" method="post">
              <div class="personal" style="margin-left:-332px;margin-top:-50px">
                <h2>Personal Details</h2>
                <div class="main">
                <div class="col">
                  <div class="form-center-w3l">
                    <label>First Name</label>
                    <br>
                    <input [(ngModel)]="firstnam" type="text" class="top-up" name="name" placeholder="Name" required="">
                  </div>
                </div>
                <div class="col">
                  <div class="form-right-w3ls ">
                    <label>Last Name</label>
                    <br>
                    <input [(ngModel)]="lastnam" type="text" class="top-up" name="last name" placeholder="Last Name"
                      required="">
                    <div class="clearfix"></div>
                  </div>
                </div>
                </div>
           
                <div class="main">
                  <div class="form-center-w3l">
                    <label>Birthday date</label>
                    <br>
                    <input [(ngModel)]="birthda" type="date" class="top-up" name="name" placeholder="Birthday date"
                      required="">
                    <div class="clearfix"></div>
                  </div>
                  <div class="form-center-w3ls ">
                    <label>Phone number</label>
                    <br>
                    <input [(ngModel)]="phonenumbe" class="buttom" type="text" name="phone number" placeholder="Phone Number"
                      required="">
                    <div class="clearfix"></div>
                  </div>
                </div>
                <form id="myform" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <div class="form-center-w3l">
                      <label>E-mail</label>
                      <br>
                      <input [(ngModel)]="emai" formControlName="emai" type="email" name="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                        placeholder="Email">
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                      </div>
                    </div>
                  </div>
                </form>
                <div>
                  
                  <button class="button" (click)="Addtobookh()" style="color:#F78536">Book</button>
                
                    <button class="button" (click)="cancel()" style="color:#F78536;margin-left: 25px">Cancel</button>
                  </div>
              </div>
            </form>
          </div>
        </div>
    </div>
</div>
</div>