<div id="fh5co-wrapper">
  <div id="fh5co-page">

      <header id="fh5co-header-section" class="sticky-banner">
          <div class="container">
              <div class="nav-header">
                  <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
                  <h1 id="fh5co-logo"><a href="index.html"><i class="icon-airplane"></i>Travel</a></h1>
                  <!-- START #fh5co-menu-wrap -->
                  <nav id="fh5co-menu-wrap" role="navigation">
                      <ul class="sf-menu" id="fh5co-primary-menu">
                          <li><a href="index.html">Home</a></li>
                          <li>
                              <a href="vacation.html" class="fh5co-sub-ddown">Vacations</a>
                              <ul class="fh5co-sub-menu">
                                  <li><a href="#">Family</a></li>
                                  <li><a href="#">CSS3 &amp; HTML5</a></li>
                                  <li><a href="#">Angular JS</a></li>
                                  <li><a href="#">Node JS</a></li>
                                  <li><a href="#">Django &amp; Python</a></li>
                              </ul>
                          </li>
                          <li><a href="flight.html">Flights</a></li>
                          <li class="active"><a href="hotel.html">Hotel</a></li>
                          <li><a href="car.html">Car</a></li>
                          <li><a href="blog.html">Blog</a></li>
                          <li><a href="contact.html">Contact</a></li>
                      </ul>
                  </nav>
              </div>
          </div>
      </header>
      <div class="fh5co-hero">
        <div class="fh5co-overlay"></div>
        <div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url(./../../assets/images/cover_bg_1.jpg);">
            <div class="desc">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-5 col-md-5">
                            <div class="tabulation animate-box">

                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#flights" aria-controls="flights" role="tab" data-toggle="tab">Flights</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#hotels" aria-controls="hotels" role="tab" data-toggle="tab">Hotels</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#packages" aria-controls="packages" role="tab" data-toggle="tab">Packages</a>
                                    </li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="flights">
                                        <div class="row">
                                            <div class="col-xxs-12 col-xs-6 mt">
                                                <div class="input-field">
                                                    <label for="from">From:</label>
                                                    <select [(ngModel)]="depart" class="button" class="select">
                                                        <option value="PAR">Paris</option>
                                                        <option value="TUN">Tunis</option>
                                                        <option value="NYC">New York</option>
                                                        <option value="MAD">Madrid</option>
                                                        <option value="ACA"> Mexique</option>
                                                        <option value="ACX"> Chine</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xxs-12 col-xs-6 mt">
                                                <div class="input-field">
                                                    <label for="from">To:</label>
                                                    <select [(ngModel)]="arrive" class="select">
                                                        <option value="PAR">Paris</option>
                                                        <option value="TUN">Tunis</option>
                                                        <option value="NYC">New York</option>
                                                        <option value="MAD">Madrid</option>
                                                        <option value="ACA"> Mexique</option>
                                                        <option value="ACX"> Chine</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xxs-12 col-xs-6 mt alternate">
                                                <div class="input-field">
                                                    <label for="date-start">Check In:</label>
                                                    <input type="date" class="form-control" [(ngModel)]="dateAller">
                                                </div>
                                            </div>
                                            <div class="col-xxs-12 col-xs-6 mt alternate">
                                                <div class="input-field">
                                                    <label for="date-end">Check Out:</label>
                                                    <input type="date" class="form-control" [(ngModel)]="dateRetour">
                                                </div>
                                            </div>
                                            <div class="col-sm-12 mt">
                                                <section>
                                                    <label for="class">Travel Class:</label>
                                                    <select [(ngModel)]="travelClass" class="select">
                                                        <option value="ECONOMY">Economy</option>
                                                        <option value="PREMIUM_ECONOMY">Premium Economy</option>
                                                        <option value="FIRST">First</option>
                                                        <option value="BUSINESS">Business</option>
                                                    </select>
                                                </section>
                                            </div>
                                            <div class="col-xxs-12 col-xs-6 mt">
                                                <section>
                                                    <label for="class">Adult:</label>
                                                    <select [(ngModel)]="adult" class="select">
                                                        <option value="0" disabled selected>1</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                    </select>
                                                </section>
                                            </div>
                                            <div class="col-xxs-12 col-xs-6 mt">
                                                <section>
                                                    <label for="class">Children:</label>
                                                    <select [(ngModel)]="children" class="select">
                                                        <option value="0" disabled selected>1</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                    </select>
                                                </section>
                                            </div>
                                            <div class="col-xs-12">
                                                <button  (click)="getCity()" class="btn btn-primary ">Search Flight</button>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div role="tabpanel" class="tab-pane " id="hotels">
                                        <div class="row">
                                            <div class="col-xxs-12 col-xs-12 mt">
                                                <div class="input-field">
                                                    <label for="from">City:</label>
                                                    <input type="text" class="form-control" id="from-place"
                                                        placeholder="CHOOSE YOUR DESTINATION" [(ngModel)]="villeh">
                                                </div>
                                            </div>
                                            <div class="col-xxs-12 col-xs-6 mt alternate">
                                                <div class="input-field">
                                                    <label for="date-start">Check In:</label>
                                                    <input type="date" class="form-control" id="date-start"
                                                        placeholder="dd/mm/yyyy" [(ngModel)]="checkin">
                                                </div>
                                            </div>
                                            <div class="col-xxs-12 col-xs-6 mt alternate">
                                                <div class="input-field">
                                                    <label for="date-end">Check Out:</label>
                                                    <input type="date" class="form-control" id="date-end"
                                                        placeholder="dd/mm/yyyy" [(ngModel)]="checkout">
                                                </div>
                                            </div>
                                            <div class="col-xxs-12 col-xs-6 mt alternate">
                                                <section>
                                                    <label for="class">Rating:</label>

                                                    <div class="input-group mb-3 size" style="color:#F78536">
                                                        <select class="custom-select" id="inputGroupSelect02" style="padding: 5px 15px;background-color: #efe8e8"
                                                            [(ngModel)]=" rate">
                                                            <option selected>Choose...</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="4">5</option>
                                                        </select>

                                                    </div>
                                                </section>
                                            </div>
                                            <div class="col-xxs-12 col-xs-6 mt alternate">
                                                <section>
                                                    <label for="class">Rooms:</label>

                                                    <div class="input-group mb-3 size" style="color:#F78536">
                                                        <select class="custom-select" id="inputGroupSelect02" style="padding: 5px 15px;background-color: #efe8e8"
                                                            [(ngModel)]="room">
                                                            <option selected>Choose...</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                        </select>

                                                    </div>
                                                </section>
                                            </div>
                                            <div class="col-xxs-12 col-xs-6 mt">
                                                <section>
                                                    <label for="class">Guest:</label>

                                                    <div class="input-group mb-3 size" style="color:#F78536">
                                                        <select class="custom-select " id="inputGroupSelect02"
                                                            style="padding: 5px 15px;background-color: #efe8e8"
                                                            [(ngModel)]="adulte">
                                                            <option selected>Choose...</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                        </select>

                                                    </div>
                                                </section>
                                            </div>

                                            <div class="col-xs-12">
                                                <input type="submit" class="btn btn-primary btn-block" value="Search Hotel"
                                                    (click)=" getthehotel()">
                                            </div>
                                        </div>
                                    </div>

                                    <div role="tabpanel" class="tab-pane" id="packages">
                                        <div class="row">
                                            <div class="col-xxs-12 col-xs-6 mt">
                                                <div class="input-field">
                                                    <label for="from">City:</label>
                                                    <input type="text" class="form-control" id="from-place"
                                                        placeholder="Los Angeles, USA" />
                                                </div>
                                            </div>
                                            <div class="col-xxs-12 col-xs-6 mt">
                                                <div class="input-field">
                                                    <label for="from">Destination:</label>
                                                    <input type="text" class="form-control" id="to-place"
                                                        placeholder="Tokyo, Japan" />
                                                </div>
                                            </div>
                                            <div class="col-xxs-12 col-xs-6 mt alternate">
                                                <div class="input-field">
                                                    <label for="date-start">Departs:</label>
                                                    <input type="text" class="form-control" id="date-start"
                                                        placeholder="mm/dd/yyyy" />
                                                </div>
                                            </div>
                                            <div class="col-xxs-12 col-xs-6 mt alternate">
                                                <div class="input-field">
                                                    <label for="date-end">Return:</label>
                                                    <input type="text" class="form-control" id="date-end"
                                                        placeholder="mm/dd/yyyy" />
                                                </div>
                                            </div>
                                            <div class="col-sm-12 mt">
                                                <section>
                                                    <label for="class">Rooms:</label>
                                                    <select class="cs-select cs-skin-border">
                                                        <option value="" disabled selected>1</option>
                                                        <option value="economy">1</option>
                                                        <option value="first">2</option>
                                                        <option value="business">3</option>
                                                    </select>
                                                </section>
                                            </div>
                                            <div class="col-xxs-12 col-xs-6 mt">
                                                <section>
                                                    <label for="class">Adult:</label>
                                                    <select class="cs-select cs-skin-border">
                                                        <option value="" disabled selected>1</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                    </select>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>
