<div class="bg">
  <div class="container-fluide">
    <h1 style="margin-top: -95px; text-align: center;">
      Flight Booking</h1>
    <div class="row">
      <div class="column" style="width: 45%">
        <div class="margin" style="width:40%">
          <h2>Personal Details</h2>
          <div>
            <div>
              <label>First Name</label>
              <br>
              <input [(ngModel)]="firstname" type="text" class="top-up " name="name" placeholder="Name" required="">
            </div>
            <div>
              <label>Last Name</label>
              <br>
              <input [(ngModel)]="lastname" type="text" class="top-up" name="last name" placeholder="Last Name"
                required="">
            </div>
          </div>
          <div>
            <div>
              <label>Birthday date</label>
              <br>
              <input [(ngModel)]="birthday" type="date" class="top-up" name="name" placeholder="Birthday date" required="">
            </div>
            <div>
              <label>Phone number</label>
              <br>
              <input [(ngModel)]="phonenumber" class="buttom" type="text" name="phone number" placeholder="Phone Number"
                required="">
            </div>
          </div>
          <form id="myform" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <div>
                <label>E-mail</label>
                <br>
                <input [(ngModel)]="email" formControlName="email" type="email" name="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                  placeholder="Email">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
              </div>
            </div>
          </form>
          <div>
            <div>
              <div>
                <input [(ngModel)]="passnumber" type="text" name="number" placeholder="Passport number" required="">
              </div>
            </div>
          </div>
          <button class="btn" (click)=" Addtobook()">Book</button>
          <button class="btn" style="margin-left: 10px" (click)="cancel()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <div id="fh5co-page" style="background-color: grey">
    <div class="container ">
      <div *ngIf="offers" class="col-md-12">
        <div *ngFor="let service of myoffer.services ">
          <div *ngFor="let segment of service.segments ">
            <div>
              <div class="col" style="margin-top: -234px;">
                <div>
                  <article class="card fl-right">
                    <section class="date">
                      <time>
                        <span id="price">{{myoffer.price.total}}</span><span>Total price/<small>duty free</small></span>
                      </time>
                    </section>
                    <section class="row card-cont">
                      <div class="col">
                        <small id="From">From</small>
                        <h3 id="iataCodeD">{{segment.flightSegment.departure.iataCode}}</h3>
                        <div class="even-date">
                          <i class="fa fa-calendar"></i>
                          <time>
                            <span id="departure">{{segment.flightSegment.departure.at}}</span>
                            <span id="carrierCodeD">carrierCode : {{segment.flightSegment.carrierCode}}</span>
                            <span id="DurationD">Duration : {{segment.flightSegment.duration}}</span>
                            <span id="TravelClassD">TravelClass : {{segment.pricingDetailPerAdult.travelClass}}</span>
                          </time>
                        </div>
                      </div>
                      <div class="col fl-right" style="margin-top: -161px;">
                        <small id="To">To</small>
                        <h3 id="iataCode">{{segment.flightSegment.arrival.iataCode}}</h3>
                        <div class="even-date">
                          <i class="fa fa-calendar"></i>
                          <time>
                            <span id="arrival">{{segment.flightSegment.arrival.at}}</span>
                            <span id="carrierCode">carrierCode : {{segment.flightSegment.carrierCode}}</span>
                            <span id="duration">Duration : {{segment.flightSegment.duration}}</span>
                            <span id="travelClass">TravelClass : {{segment.pricingDetailPerAdult.travelClass}}</span>
                          </time>
                        </div>
                      </div>
                      <div class="even-info" style="float:right;">
                        <i class="fa fa-map-marker"></i>

                        <p id="PricePerAdult"> PricePerAdult : {{myoffer.pricePerAdult.total}}</p>
                        <p id="pricePerChild"> pricePerChild : {{myoffer.pricePerChild.total}}</p>
                      </div>
                    </section>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>